[Desktop Entry]
Version=1.0
Name=nagato-wareki
Comment=Japanese Era List
Exec=/usr/bin/nagato-wareki
Icon=/usr/share/pixmaps/nagato-wareki.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Nagato;
