GtkWindow {
    background-color: #DEE6B7;
    background-repeat: repeat;
    background-position: center;
    background-image: url("images/main-window.jpg");
}

GtkNotebook {
    opacity: 0.7;
}

GtkButton {
    border-style: none;
    border-radius: 0;
    opacity: 0.7;
}

GtkMenuItem {
    color: violet;
    color: Orchid;
    background-color: white;
    font-size: 1.2em;
    opacity: 0.9;
}

GtkMenuItem:hover {
    color: white;
    background-color: violet;
    background-color: Orchid;
    opacity: 0.9;
}

GtkMenuItem:insensitive {
    color: white;
    background-color: white;
    font-size: 1em;
    opacity: 0.9;
}

GtkMenu {
    background-position: top;
    background-image: url("images/context-menu.png");
}

.dummy-label {
    opacity:0.9;
    font-weight: bold;
    font-size: 1.2em;
    background-color: White;
}

.dialog-label {
    color: white;
    background-color: #FF007F;
    font-weight: bold;
    font-size: 1.2em;
    opacity : 0.7;
}

.dialog-label-about {
    color: white;
    background-color: MediumSlateBlue;
    font-weight: bold;
    font-size: 1.2em;
    opacity : 0.8;
}
