[Desktop Entry]
Version=1.0
Name=nagato-dictionary
Comment=English/Japanese dictionary
Exec=/usr/bin/nagato-dictionary
Icon=/usr/share/pixmaps/nagato-dictionary.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Office;Utility;
