[Desktop Entry]
Version=1.0
Name=nagato-weather
Comment=stand alone weather application for NagatoBox
Exec=/usr/bin/nagato-weather
Icon=/usr/share/pixmaps/nagato-weather.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Network;
