[Desktop Entry]
Version=1.0
Name=nagato-web-browser
Comment=a simple web browser
Exec=/usr/bin/nagato-web-browser
Icon=/usr/share/pixmaps/nagato-web-browser.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Network;
