[Desktop Entry]
Version=1.0
Name=nagato-rss-daemon
Comment=tfei for rss feed
Exec=/usr/bin/nagato-rss-daemon
Icon=/usr/share/pixmaps/nagato-rss-daemon.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;Nagato
