Package: nagato-web-browser
Version: 42.9.2
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 339
Depends: python3-gi
Provides: www-browser
Section: python
Priority: optional
Description: a simple terminal emulator
 This software is now under heavy snow.
 This software is licensed under S.O.S. license.
