GtkWindow {
    background-color: #DEE6B7;
    background-repeat: repeat;
    background-position: center;
    background-image: url("Nagato_Yuki.jpg");
}

GtkNotebook {
    opacity: 0.7;
}

VteTerminal {
    color: #A76FDE;
    background-color: #000000;
}

.dialog-label {
    color: #FFFFFF;
    background-color: #FF007F;
    font-size: 11px;
    font-weight: bold;
}

.about-dialog-label {
    color: #FFFFFF;
    background-color: #8C6CC4;
    font-size: 11px;
}
