[Desktop Entry]
Version=1.0
Name=nagato-text-converter
Comment=charactor code conversion tool
Exec=/usr/bin/nagato-text-converter
Icon=/usr/share/pixmaps/nagato-text-converter.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;
OnlyShowIn=DontLookAtMe;
