[Desktop Entry]
Version=1.0
Name=nagato-text
Comment=text pad
Exec=/usr/bin/nagato-text
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-text.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
MimeType=text/plain
