[Desktop Entry]
Version=1.0
Name=APPNAME
Comment=SHORT_DESCRIPTION
Exec=/usr/bin/APPNAME
Icon=/usr/share/pixmaps/APPNAME.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
