[Desktop Entry]
Version=1.0
Name=nagato-youtube-browser
Comment=youtube viewer
Exec=/usr/bin/nagato-youtube-browser
Icon=/usr/share/pixmaps/nagato-youtube-browser.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Network;
