[Desktop Entry]
Version=1.0
Name=nagato-system-monitor
Comment=system monito
Exec=/usr/bin/nagato-system-monitor
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-system-monitor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
