[Desktop Entry]
Version=1.0
Name=nagato-diagram
Comment=gui front-end for graphviz.
Exec=/usr/bin/nagato-diagram
Icon=/usr/share/pixmaps/nagato-diagram.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Nagato;Office;
MimeType=text/vnd.graphviz
