Package: nagato-notebook
Version: 42.10.2
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 157
Depends: python3-gi, gir1.2-gtk-3.0
Provides: www-browser
Section: python
Priority: optional
Description: a simple text pad.
 This software is now under heavy snow.
 This software is licensed under S.O.S. license.
