[window]
x = -1
y = -1
h = -1
w = -1
fullscreen = no

[author]
name = 
email = 
uri = 
id-header = 

[develop]
last-directory = 

[template]
APPNAME = "nagato-develop"
LIBNAME = "lib"+APPNAME.replace("-", "")
APP_ID = "io.github.takedanemuru.{}".format(APPNAME)
APP_WEBSITE = "https://takedanemuru.github.io"
AUTHOR_NAME = "takeda.nemuru"
AUTHOR_EMAIL = "<takeda.nemuru@yandex.com>"
WORKING_DIRECTORY = os.path.join(os.environ["HOME"], "working_dir")
SHORT_DESCRIPTION = "powered by nagato"
COPYRIGHT_YEAR = "2018"
COPYRIGHT_MONTH = "January"

[templatefortest]
APPNAME = "nagato-powered"
LIBNAME = "libnagatopowered"
APP_ID = "io.github.takedanemuru.nagato-powered"
APP_WEBSITE = "https://takedanemuru.github.io"
AUTHOR_NAME = "takeda.nemuru"
AUTHOR_EMAIL = "takeda.nemuru@yandex.com"
WORKING_DIRECTORY = "/home/takedanemuru/working_dir"
SHORT_DESCRIPTION = "powered by nagato"
COPYRIGHT_YEAR = "2018"
COPYRIGHT_MONTH = "January"

[appearance]
background_color = "#000000"
foreground_color = "#A76FDE"
font = "Ubuntu Mono Regular 14"
opacity = 0.7
border = 16
