[Desktop Entry]
Version=1.0
Name=nagato-config-one
Comment=appearance configuration tool for NagatoBox
Exec=/usr/bin/nagato-config-one
Icon=/usr/share/pixmaps/nagato-config-one.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Settings;System;
