[Desktop Entry]
Version=1.0
Name=nagato-movie
Comment=movie player
Exec=/usr/bin/nagato-movie
Icon=/usr/share/pixmaps/nagato-movie.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Music;Nagato;Video;
MimeType=audio/ogg;audio/mpeg;audio/wav;video/mpeg;video/ogg;video/mp4;video/avi;video/webm
