[Desktop Entry]
Version=1.0
Name=nagato-sdl-sound
Comment=command line interface to play sdl sound
Exec=/usr/bin/nagato-sdl-sound
Icon=/usr/share/pixmaps/nagato-sdl-sound.png
Terminal=false
Type=Application
StartupNotify=false
Categories=ConsoleOnly
