[Desktop Entry]
Version=1.0
Name=nagato-color-chooser
Comment=pick color from screen.
Exec=/usr/bin/nagato-color-chooser
Icon=/usr/share/pixmaps/nagato-color-chooser.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
