[Desktop Entry]
Version=1.0
Name=nagato-calendar
Comment=a calendar software.
Exec=/usr/bin/nagato-calendar
Icon=/usr/share/pixmaps/nagato-calendar.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;ProjectManagement;Utility;
