[Desktop Entry]
Version=1.0
Name=nagato-gif-viewer
Comment=gif viewer
Exec=/usr/bin/nagato-gif-viewer %U
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-gif-viewer.png
Terminal=false
Type=Application
StartupNotify=true
MimeType=image/gif;
Categories=Nagato;Utility;
