[Desktop Entry]
Version=1.0
Name=nagato-develop
Comment=powered by nagato
Exec=/usr/bin/nagato-develop
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-develop.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
