[Desktop Entry]
Version=1.0
Name=nagato-mixer-applet
Comment=simple mixer applet for trayicon
Exec=/usr/bin/nagato-mixer-applet
Icon=/usr/share/pixmaps/nagato-mixer-applet.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;
