[Desktop Entry]
Version=1.0
Name=nagato-files
Comment=a file manager for NagatoBox
Exec=/usr/bin/nagato-files
Icon=/usr/share/pixmaps/nagato-files.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;Utility;
MimeType=inode/directory
