[Desktop Entry]
Version=1.0
Name=nagato-xdg-user-dirs
Comment=xdg user dirs configuration
Exec=/usr/bin/nagato-files -u
Icon=/usr/share/pixmaps/nagato-files.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;Utility;
