Package: nagato-image-viewer
Version: 42.21.2
Architecture: all
Maintainer: takedanemuru, takeda.nemuru@yandex.com
Installed-Size: 154
Depends: python3-gi, python3-libnagato, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Description: image viewer
 image viewer
