[Desktop Entry]
Version=1.0
Name=nagato-audio-indicator
Comment=audio volume indicator
Exec=/usr/bin/nagato-audio-indicator
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-audio-indicator.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
