[Desktop Entry]
Version=1.0
Name=nagato-keycode
Comment=check keycode
Exec=/usr/bin/nagato-keycode
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-keycode.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
