Package: nagato-color-chooser
Version: 42.11.5
Architecture: all
Maintainer: takeda.nemuru, <takeda.nemuru@yandex.com>
Installed-Size: 637
Depends: python3-gi, python3-libnagato, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Description: pick color from screen.
 A screen color picking tool for NagatoBox.
 This software is licensed under S.O.S. Lisense.
