Package: nagato-terminal
Version: 42.12.51
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 180
Depends: python3-gi, python3-libnagato, python3:any (>= 3.3.2-2~)
Provides: x-terminal-emulator
Section: python
Priority: optional
Description: a multi-grid terminal emulator
 This software is now under heavy snow.
 This software is licensed under S.O.S. license.
