Package: nagato-terminal
Version: 42.9.36
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 913
Depends: python3-gi
Provides: x-terminal-emulator
Section: python
Priority: optional
Description: a multi-grid terminal emulator
 This software is now under heavy snow.
 This software is licensed under S.O.S. license.
