[Desktop Entry]
Version=1.0
Name=nagato-font-view
Comment=view fonts.
Exec=/usr/bin/nagato-font-view
Icon=/usr/share/pixmaps/nagato-font-view.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Nagato;Utility;
