[Desktop Entry]
Version=1.0
Name=nagato-extractor
Comment=an archived file extracting tool for NagatoBox.
Exec=/usr/bin/nagato-extractor
Icon=/usr/share/pixmaps/nagato-extractor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
MimeType=application/lha;application/x-compress;application/x-lha;application/x-lha-compressed;application/x-lk-rlestream;application/x-lzh;application/x-unknown-content-type-LhasaArchive;application/x-zip-compressed;application/zip;binary/lzh;application/x-gzip;multipart/x-gzip;multipart/x-zip;application/gzip;application/x-rar-compressed;application/x-rar;application/x-tar;application/x-compressed-tar;application/x-xz-compressed-tar;application/x-bzip;application/x-bzip-compressed-tar
