[Desktop Entry]
Version=1.0
Name=nagato-keycode-checker
Comment=check keycode.
Exec=/usr/bin/nagato-keycode-checker
Icon=/usr/share/pixmaps/nagato-keycode-checker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;Utility;
