[Desktop Entry]
Version=1.0
Name=nagato-code-metrix
Comment=count lines of Gambas3 source codes.
Exec=/usr/bin/nagato-code-metrix
Icon=/usr/share/pixmaps/nagato-code-metrix.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Nagato;Utility;
