[Desktop Entry]
Version=1.0
Name=dataovermind-rssfeeder
Comment=tfei for rss feed
Exec=/usr/bin/dataovermind-rssfeeder
Icon=/usr/share/pixmaps/dataovermind-rssfeeder.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
