[Desktop Entry]
Version=1.0
Name=nagato-files-lite
Comment=a simple filer
Exec=/usr/bin/nagato-files-lite
Icon=/usr/share/pixmaps/nagato-files-lite.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;
