[Desktop Entry]
Version=1.0
Name=nagato-map
Comment=map viewer.
Exec=/usr/bin/nagato-map
Icon=/usr/share/pixmaps/nagato-map.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Geoscience;Nagato;Science;
