[Desktop Entry]
Version=1.0
Name=nagato-calculator
Comment=calc it !
Exec=/usr/bin/nagato-calculator
Icon=/usr/share/pixmaps/nagato-calculator.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Science;Utility;
