[Desktop Entry]
Version=1.0
Name=nagato-asx-player
Comment=asx file player
Exec=/usr/bin/nagato-asx-player
Icon=/usr/share/pixmaps/nagato-asx-player.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Audio;Nagato;
MimeType=audio/x-ms-asx
