[Desktop Entry]
Version=1.0
Name=nagato-screenshot
Comment=take a screenshot
Exec=/usr/bin/nagato-screenshot
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-screenshot.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
