[Desktop Entry]
Version=1.0
Name=nagato-terminal
Comment=a simple terminal emulator
Exec=/usr/bin/nagato-terminal
Icon=/usr/share/pixmaps/nagato-terminal.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
