[Desktop Entry]
Version=1.0
Name=nagato-writer
Comment=a markdown editor
Exec=/usr/bin/nagato-writer
Icon=/usr/share/pixmaps/nagato-writer.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Documentation;Nagato;Office;
MimeType=text/x-markdown
