[Desktop Entry]
Version=1.0
Name=nagato-stock-icon-list
Comment=nagato shows you all stock icons for gambas3
Exec=/usr/bin/nagato-stock-icon-list
Icon=/usr/share/pixmaps/nagato-stock-icon-list.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
