[Desktop Entry]
Version=1.0
Name=nagato-youtube-view
Comment=youtube viewer
Exec=/usr/bin/nagato-youtube-view
Icon=/usr/share/pixmaps/nagato-youtube-view.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Network;
