[Desktop Entry]
Version=1.0
Name=nagato-font-book
Comment=font viewer
Exec=/usr/bin/nagato-font-book
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-font-book.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
