[Desktop Entry]
Version=1.0
Name=nagato-archiver
Comment=an archiver.
Exec=/usr/bin/nagato-archiver
Icon=/usr/share/pixmaps/nagato-archiver.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
