[Desktop Entry]
Version=1.0
Name=nagato-openbox-logout
Comment=logout dialog for Openbox3
Exec=/usr/bin/nagato-openbox-logout
Icon=/usr/share/pixmaps/nagato-openbox-logout.png
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=OPENBOX
Categories=Nagato;System;
