[Desktop Entry]
Version=1.0
Name=nagato-text
Comment=a simple text editor
Exec=/usr/bin/nagato-text
Icon=/usr/share/pixmaps/nagato-text.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
MimeType=text/plain;text/html;application/x-desktop
