.main-window {
    background-repeat: repeat;
    background-position: center;
    background-image: url("bg_3.jpg");
}

.context-menu {
    background-repeat: repeat;
    background-position: center;
    background-image: url("nagato_yuki_for_context_menu_2.jpg");
}

GtkMenuItem {
    color: violet;
    background-color: White;
    font-size: 12px;
    opacity: 0.9;
}

GtkMenuItem:hover {
    color: white;
    background-color: violet;
    opacity: 0.9;
}

GtkMenuItem:insensitive {
    color: white;
    background-color: white;
    font-size: 11px;
    opacity: 0.9;
}
