[Desktop Entry]
Version=1.0
Name=nagato-taskmanager
Comment=a task manager for NagatoBox
Exec=/usr/bin/nagato-taskmanager
Icon=/usr/share/pixmaps/nagato-taskmanager.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;
