[Desktop Entry]
Version=1.0
Name=nagato-dbus-finder
Comment=dbus explorer
Exec=/usr/bin/nagato-dbus-finder
Icon=/usr/share/pixmaps/nagato-dbus-finder.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Nagato;System;
