Package: python3-libnagato
Source: libnagato
Version: 42.10.1
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 16
Depends: python3-gi
Section: python
Priority: optional
Description: an application framework libraly.
 This software is now under heavy construction.
 This software is licensed under S.O.S. license.
