Package: python3-libnagato
Source: libnagato
Version: 42.11.15
Architecture: all
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Installed-Size: 64
Depends: python3-gi, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Description: an application framework library.
 This software is now under heavy construction.
 This software is licensed under S.O.S. license.
