[Desktop Entry]
Version=1.0
Name=nagato-config-appearance
Comment=appearance configuration tool for NagatoBox
Exec=/usr/bin/nagato-config-appearance
Icon=/usr/share/pixmaps/nagato-config-appearance.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Settings;System;
