[Desktop Entry]
Version=1.0
Name=nagato-screenlocker config
Comment=a screen saver for NagatoBox
Exec=/usr/bin/nagato-screenlocker -c
Icon=/usr/share/pixmaps/nagato-config-screenlocker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;
