[Desktop Entry]
Version=1.0
Name=nagato-screenlocker
Comment=lock screen now
Exec=/usr/bin/nagato-screenlocker
Icon=/usr/share/pixmaps/nagato-screenlocker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;Utility;
