[Desktop Entry]
Version=1.0
Name=dataovermind-disks
Comment=volume monitor for NagatoBox
Exec=/usr/bin/dataovermind-disks
Icon=/usr/share/pixmaps/dataovermind-disks.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
