[Desktop Entry]
Version=1.0
Name=nagato-wallpaper
Comment=a wallpaper setter for *box window managers.
Exec=/usr/bin/nagato-wallpaper
Icon=/usr/share/pixmaps/nagato-wallpaper.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;Utility;
MimeType=image/jpeg;image/jpg;image/png
