[Desktop Entry]
Version=1.0
Name=nagato-notifications
Comment=notification daemon
Exec=/usr/bin/nagato-notifications
Icon=/usr/share/pixmaps/nagato-notifications.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
