[Desktop Entry]
Version=1.0
Name=nagato-config-screenlocker
Comment=a screen saver for NagatoBox
Exec=/usr/bin/nagato-config-screenlocker
Icon=/usr/share/pixmaps/nagato-config-screenlocker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;System;
