[Desktop Entry]
Version=1.0
Name=nagato-image-viewer
Comment=image viewer
Exec=/usr/bin/nagato-image-viewer
Icon=/usr/share/pixmaps/io.github.takedanemuru.nagato-image-viewer.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Utility;
