[Desktop Entry]
Version=1.0
Name=nagato-color-picker
Comment=pick color number from anywhere.
Exec=/usr/bin/nagato-color-picker
Icon=/usr/share/pixmaps/nagato-color-picker.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Nagato;Utility;
