Source: APPNAME
Section: python
Priority: optional
Maintainer: AUTHOR_NAME, AUTHOR_EMAIL
Build-Depends:
 debhelper (>= 9),
 python3 (>= 3.5)
Standards-Version: 3.9.2
X-Python-Version: >= 3.5


Package: APPNAME
Architecture: all
Section: python
Depends:
 python3-gi,
 python3-libnagato,
 ${misc:Depends},
 ${python3:Depends}
Description: SHORT_DESCRIPTION
 LONG_DESCRIPTION
