[Desktop Entry]
Version=1.0
Name=nagato-notebook
Comment=a simple text pad
Exec=/usr/bin/nagato-notebook
Icon=/usr/share/pixmaps/nagato-notebook.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;
