[Desktop Entry]
Version=1.0
Name=yuki
Comment=command line interface for humanoid interface.
Exec=/usr/bin/yuki
Icon=/usr/share/pixmaps/yuki.png
Terminal=false
Type=Application
StartupNotify=true
Categories=ConsoleOnly;
