Source: nagato-terminal
Section: python
Priority: optional
Maintainer: takedanemuru, <takeda.nemuru@yandex.com>
Build-Depends:
 debhelper (>= 9),
 python3 (>= 3.5)
Standards-Version: 3.9.2
X-Python-Version: >= 3.5


Package: nagato-terminal
Architecture: all
Section: python
Provides: x-terminal-emulator
Depends:
 python3-gi,
 ${misc:Depends},
 ${python:Depends}
Description: a multi-grid terminal emulator
 This software is now under heavy snow.
 This software is licensed under S.O.S. license.
