[Desktop Entry]
Version=1.0
Name=dataovermind-menucache
Comment=A menu generator for Openbox3
Exec=/usr/bin/dataovermind-menucache
Icon=/usr/share/pixmaps/dataovermind-menucache.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
OnlyShowIn=NagatoBox;openbox;
