[Desktop Entry]
Version=1.0
Name=nagato-systemmonitor-daemon
Comment=system monitoring daemon for NagatoBox
Exec=/usr/bin/nagato-systemmonitor-daemon
Icon=/usr/share/pixmaps/nagato-systemmonitor-daemon.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
