[Desktop Entry]
Version=1.0
Name=nagato-fullscreen-editor
Comment=a dead copy of FocusWriter :)
Exec=/usr/bin/nagato-fullscreen-editor
Icon=/usr/share/pixmaps/nagato-fullscreen-editor.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Office;Utility;
MimeType=text/plain
