[Desktop Entry]
Version=1.0
Name=nagato-image-view
Comment=a simple image viewer.
Exec=/usr/bin/nagato-image-view
Icon=/usr/share/pixmaps/nagato-image-view.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;ImageProcessing;Nagato;
MimeType=image/jpeg;image/png;image/gif
