[Desktop Entry]
Version=1.0
Name=nagato-gif-box
Comment=a simple movie box for gif animation
Exec=/usr/bin/nagato-gif-box
Icon=/usr/share/pixmaps/nagato-gif-box.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Nagato;
MimeType=image/gif
