Package: nagato-system-monitor
Version: 42.12.4
Architecture: all
Maintainer: takedanemuru, takeda.nemuru@yandex.com
Installed-Size: 527
Depends: python3-gi, python3-libnagato, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Description: system monitor
 system monitoring tool for NagatoBox
