[Desktop Entry]
Version=1.0
Name=nagato-pdf-view
Comment=pdf viewer
Exec=/usr/bin/nagato-pdf-view
Icon=/usr/share/pixmaps/nagato-pdf-view.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Office;
MimeType=application/pdf;application/x-pdf
