[Desktop Entry]
Version=1.0
Name=dataovermind-systemmonitor
Comment=tfei for system monitoring
Exec=/usr/bin/dataovermind-systemmonitor
Icon=/usr/share/pixmaps/dataovermind-systemmonitor.png
Terminal=true
Type=Application
StartupNotify=true
Categories=System;
