[Desktop Entry]
Version=1.0
Name=nagato-project-list
Comment=a project management tool for NagatoBox
Exec=/usr/bin/nagato-project-list
Icon=/usr/share/pixmaps/nagato-project-list.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Development;
