[Desktop Entry]
Version=1.0
Name=nagato-web
Comment=a web browser for NagatoBox
Exec=/usr/bin/nagato-web
Icon=/usr/share/pixmaps/nagato-web.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Network;