[Desktop Entry]
Version=1.0
Name=nagato-ambient
Comment=play ambient sounds
Exec=/usr/bin/nagato-ambient
Icon=/usr/share/pixmaps/nagato-ambient.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Audio;Music;Nagato;
