[Desktop Entry]
Version=1.0
Name=nagato-text-one (fullscreen)
Comment=a dead copy of FocusWriter :)
Exec=/usr/bin/nagato-text-one
Icon=/usr/share/pixmaps/nagato-text-one.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Nagato;Office;Utility;
MimeType=text/plain
