[Desktop Entry]
Version=1.0
Name=nagato-screenshooter
Comment=simple screenshooter
Exec=/usr/bin/nagato-screenshooter
Icon=/usr/share/pixmaps/nagato-screenshooter.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Nagato;System;
